/* .box-container{
  display: flex;
  align-items: center;
  height:50px;
  padding:50px;
}

.box-item{
  width:20%;
  height:10%;
  font-weight: 900;
}

@media screen and (max-width:1200px) {
  .box-container{
  }
}

@media screen and (max-width:576px) {
  .box-container{
    flex-direction: column;
    height:200vw;
    width:200%;
  }
} */

.product-container{
  width:80%;
  max-width:1000px;
  margin:auto;
  magin-top:50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.product-container div{
  width:25%;
}
/*노트북14인치에서 적용안되는 현상 >
그냥 화면이 작아서 그런줄알았는데 인터넷확대가 110%였었따... 100%확대가 안되어있었음..ㅠ*/

@media screen and (max-width:1200px){
  .product-container div{
    width:50%;
  }
}

/*flex사용할 때 태블릿 2*2하고싶으면
부모에 flex-wrap,태블릿 미디어쿼리에 width 50%주기*/

@media screen and (max-width:576px){
  .product-container div{
    width:100%;
  }  
}

/*flex로 pc,태블릿,모바일 설정할 때 width로 조정하기 
(pc일때 25%, 태블릿 50%, 모바일 100% 한칸에 채우는 정도임)
부모태그에 flex-wrap넣기
부모태그에 text-align:center;하기*/

.product-container i{
  background-color: burlywood;
  width:100px;
  height:100px;
  border-radius: 50px; /*아이콘뒷배경 원형*/
  padding-top: 25px; /*아이콘 위치 조정*/
  box-sizing: border-box; /*아이콘 밑에 자리 차지하는거 있는듯하여 조정해주기*/
  color: white;
  margin-top: 20px;
}